html {
    background-color: aquamarine;
    text-align: center;
}

#bookDisplay {
    display: inline-block;
    height: 100%;
    width: 75%;
    background-color: aliceblue;
}

.bookBox {
    background-color: azure;
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    border: solid 1px black;
}

.delBook{
    color: red;
    font-weight: bolder;
    font-size: 2em;
}