html {
    background-color: aquamarine;
    text-align: center;
    font-family: monospace;
}

h1 {
    color: orange;
    font-family: monospace;
}

button {
    font-family: monospace;
    border-radius: 20px;
}

.topButtons {
    display: block;
    margin-bottom: 10px;
}

#formDisplay {
    display:none;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    width: 200px;
}

#bookDisplay {
    display: inline-block;
    height: 100%;
    width: 75%;
    background-color: aliceblue;
    border-radius: 10px;
}

.bookCard {
    background-color: azure;
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 10px 5px;
    padding: 4px 5px;
    border: solid 0.5px black;
    border-radius: 5px;
    font-family: monospace;
}
.bookBox {
    display: block;
    padding: 5px;
}

.readIconYes {
    display: inline-block;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
}

.readIconYes:hover {
    background-color: turquoise;
}

.readIconNo {
    display: inline-block;
    background-color: #ff6666;
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
}

.readIconNo:hover {
    background-color: #ff9999;
}

.delBook{
    position: relative;
    float: right;
    color: red;
    font-size: 2.5em;
    opacity: 0.4;
}

.delBook:hover{
    opacity: 1;
}